<article>
  <h3><%= subscription.domain %></h3>
  — <%= subscription.plan %>
  <p><%= subscription.status %></p>
  <div class="subscription-details">
    <section>
      <p>Price <span><%= subscription.price %></span></p>
      <p>Started <span><%= subscription.createdAt %></span></p>
      <% if (subscription.autoRenew) { %>
      <p>Auto-Renew <span><%= subscription.renewalDate %></span></p>
      <% } %>
    </section>
    <section>
      <p><strong>Alternate Domains</strong></p>
      <ul>
        <% subscription.alternateDomains.forEach(function(domain) { %>
        <li><%= domain.domain %> — <% domain.price %></li>
        <% }); %>
      </ul>
    </section>
    <section>
        <p><strong>Add-Ons</strong></p>
        <ul>
          <% subscription.addOns.forEach(function(addOn) { %>
          <li><%= addOn.name %> — <%= addOn.price %></li>
          <% }); %>
    </section>
  </div>
</article>
